---
import Base from '../layouts/Base.astro';
---

<Base title="Contact">
	<h1>Contact</h1>
	<p>
		Email <a href="mailto:steven@okarthur.com">steven@okarthur.com</a>.
	</p>
	<p>[PLACEHOLDER: LinkedIn link]</p>
</Base>
