---
import Base from '../layouts/Base.astro';
---

<Base title="Privacy">
	<h1>Privacy</h1>
	<p>
		We don’t collect personal data on this site. If you email us, we’ll use
		your message only to respond. To request updates or deletion, contact
		<a href="mailto:steven@okarthur.com">steven@okarthur.com</a>.
	</p>
</Base>
