---
import Base from '../layouts/Base.astro';
---

<Base title="Terms">
	<h1>Terms</h1>
	<p>
		Content on this website is provided “as is” without warranty. Do not rely
		on it as legal, financial, or professional advice.
	</p>
</Base>
